/* defines styles specifically for larger screen. Should always be referenced
 * _after_ main.css 
 */
@media (min-width: 60em) 
{
    :root
    {
        /*--base-font-size: 16pt;*/
    }
    
    .index-pane
    {
        display: block;
        overflow: auto;
    }
    
    .textbox
    {
        font-size: var(--base-font-size);
    }
}
