/* defines styles specifically for larger screen. Should always be referenced
 * _after_ main.css 
 */
@media (min-width: 30em) 
{ 
    .focus-secondary
    {
        display: block;
        overflow: auto;
    }
    
    .textbox
    {
        font-size: var(--base-font-size);
    }
}
