.btn
{
    border-radius: var(--standard-radius);
    border-style: solid;
    border-width: 2px;
    font-size: var(--base-font-size);
    padding: var(--standard-pad);
}

.btn-default
{
    background-color: var(--subtle-contrast-color);
    border-color: var(--theme-color);
    color: var(--theme-highlight-color);
}

.btn-embedded
{
    background-color: var(--subtle-contrast-color);
    border-color: var(--subtle-contrast-color);
    border-style: solid;
    color: var(--highlight-color); /* because Chrome is bad at emoji! */
    font-size: var(--base-font-size);
}
.btn-primary
{
    background-color: var(--theme-color);
    border-color: var(--subtle-contrast-color);
    color: var(--highlight-color);
}

.textbox
{
    background-color: var(--subtle-contrast-color);
    border-color: var(--negative-space-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    color: var(--theme-highlight-color);
    font-family: "DejaVu Sans Mono";
    font-size: var(--base-font-size);
    padding: 5px;
    resize: vertical;
}

.textbox:focus
{
    border-color: var(--theme-highlight-color);
}
