@font-face
{
    font-family: "DejaVu Sans Mono";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/DejaVuSansMono-webfont.woff");
}

:root
{
    /*dimensions*/
    --base-font-size: 1em;
    --small-font-size: .75em;
    --standard-pad: .25em;
    --standard-radius: 5px;
    --fine-width: 2px;

    /*colors*/
    --theme-color: #040;
    --theme-highlight-color: #0f0;
    
    /*grays*/
    --highlight-color: #fff;
    --subtle-contrast-color: #000;
    --negative-space-color: #222;
    
}

html { font-size: 1.25em; }

body
{
    font-family: "DejaVu Sans Mono";
    font-size: var(--base-font-size);
    margin: 0;
}

header
{
    background-color: var(--theme-color); 
    box-shadow: 0 0 15px var(--subtle-contrast-color);
    color: var(--subtle-contrast-color);
    z-index: 2;
}

h1
{
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

h2
{
    display: inline-block;
    font-size: var(--base-font-size);
    margin-bottom: 0;
    margin-top: 0;
}

h3
{
    margin-bottom: 0;
    margin-top: 0;
}

ul
{
    padding: 0;
}

.content
{
    background-color: var(--negative-space-color);
    color: #0f0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    padding: 5px;
}

.day-number
{
    color: var(--theme-color);
}

.day-number-month-current
{
    color: var(--theme-highlight-color);
}


.day-number-day-current
{
    background-color: var(--theme-color);
    border-radius: 50%;
    color: var(--highlight-color);
    display: inline-block;
    height: 2.5ex;
    text-align: center;
    width: 2.5ex;
}

.day-square
{
    background-color: var(--subtle-contrast-color);
    min-height: 10vh; /* hack? */
    overflow: hidden;
}

.day-square-background
{
    background-color: var(--negative-space-color);
    padding: 2px;
}


.div-index-container
{
    display: flex;
}

.hidden
{
    display: none;
}

.list-item
{
    padding: var(--standard-pad);
}

.list-item-border
{
    border-color: var(--subtle-contrast-color);
    border-radius: var(--standard-radius);
    border-style: solid;
    border-width: var(--fine-width);
    margin-bottom: var(--standard-pad);
}

.month-header
{
    background-color: var(--negative-space-color);
}

.occurrence
{
    font-size: var(--small-font-size);
    white-space: nowrap;
}

.pane-group
{
    overflow: auto;
}

.pull-right
{
    float: right;
}

.warn
{
    color: #a0f;
}

#container
{
    background-color: var(--negative-space-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

