.centered
{
    text-align: center;
}

.flex-1
{
    flex: 1;
    overflow: hidden;
}

.flex-column
{
    display: flex;
    flex-direction: column
}

.flex-row
{
    display: flex;
    flex-direction: row;
}

.full-width
{
    width: 100%;
}

/* this class needs a better name */
.grow-1
{
    flex-grow: 1;
}

.right-aligned
{
    text-align: right;
}

.with-pad
{
    padding: var(--standard-pad);
}
