@()(implicit request: RequestHeader)
<form class="small-form"
      id="form-login">
  <h2>Log in or register</h2>
  <input class="responsive-input" id="input-email" name="email"
         placeholder="email address" type="text" />
  <br />
  <input class="responsive-input" id="input-password" name="password"
         placeholder="password" type="password" />
  <br />
  <input class='btn-primary pull-right' id='btn-login' type='button'
         value='Log in' />
  <input class="btn-default pull-right" id='btn-register' type='button'
         value='Register new account' />
  <br />
  <div id='message-target'></div>
</form>

